<script type="text/javascript">
  // getParameterメソッドを定義する。keyは、パラメーターの名前をいれる
  function getParameter(key) {
    // パラメーターを配列で取得する
    var str = location.search.split("?");
    if (str.length < 2) {
      return "";
    }
    var params = str[1].split("&");
    for (var i = 0; i < params.length; i++) {
      var keyVal = params[i].split("=");
      if (keyVal[0] == key && keyVal.length == 2) {
        return decodeURIComponent(keyVal[1]);
      }
    }
    return "";
  }

  // 取得したパラメータを表示する
  window.onload = function() {
    var gram = getParameter("g");
    var name = getParameter("n");
    var product = getParameter("p");
    if (gram && name && product) {
      $('#result-of-calorie-calculation').append("<div style='border: 1px solid #000; margin: 15px 0; padding-top: 15px;'" + "<p>" + product + "における、" + name + "の一食に必要はグラム数は" + gram + "gです。</p><p>下記グラム数選択の参考にしてください。</p></div>");
    }
  }
</script>
